REDIS_URL=localhost:6379

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

TASK_DEFINITION_IMAGE_NAME=build-image
ECS_CLUSTER_ARN=
ECS_TASK_DEFINITION_ARN=
ECS_SUBNET1_ARN=
ECS_SUBNET2_ARN=
ECS_SUBNET3_ARN=
ECS_SECURITY_GROUP_ARN=